doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Registration Page
    link(rel="stylesheet", href="/assets/css/registration.css")
  
  body
    form#registrationForm(onsubmit="return validateForm()")
      fieldset
        legend Register
        
        label(for="name") Name:
        input#name(type="text", name="name")
        
        label(for="email") Email:
        input#email(type="email", name="email")
        
        label(for="password") Password:
        input#password(type="password", name="password")
        
        .buttons
          button(type="submit") Submit
          button(type="reset") Reset

    script(src="/assets/javascript/registration.js")
